<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GS - PyMIG / Configurações</title>
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>


<body>
  <!-- Nav Tab -->
  <ul class="nav nav-pills nav-fill border border-2 rounded-3 shadow-sm p-3 mb-2 bg-body rounded ">
    <li class="nav-item">
      <a class="nav-link bi bi-exclamation-circle" aria-current="page" href="#"> Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/index.html">Migração</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/utility.html">Utilitários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bi bi-gear"> Configurações</a>
    </li>
  </ul>
  <!-- Nav Tab -->


  <!-- Gutter principal -->
  <div class="container-fluid">
    <div class="container px-4 text-center shadow-lg p-3 mb-5 bg-body rounded">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3 border rounded-3 mb-3 bg-light">
            <label for="caminho_oracle_instant_client" class="form-label position-sticky end-100">Diretório do Oracle
              Instant Client</label>
            <div class="input-group">
              <input type="text" class="form-control" id="save_parm_ins_cli_label" placeholder="instantclient_21_7"
                aria-label="Recipient's username">
            </div>
            <label id="help_oracle_instant_client" class="form-text position-sticky end-100">O diretório padrão é
              composto
              somente pelo nome da pasta que fica na raiz do diretório.</label>
          </div>
          <div class="p-3 border rounded-3 mb-3 bg-light">
            <div class="container">
              <label for="oracle_con_config_label" class="form-label position-sticky end-100 ">Configurações de
                Conexão</label>
              <div class="row align-items-start">
                <div class="col">
                  <label for="oracle_user_label" class="form-label position-sticky end-100">User</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="oracle_user" placeholder="User"
                      aria-label="Recipient's username">
                  </div>
                </div>
                <div class="col">
                  <label for="oracle_host_host" class="form-label position-sticky end-100">Host</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="oracle_host" placeholder="IP do Banco de dados"
                      aria-label="Recipient's username">
                  </div>
                </div>
                <div class="col">
                  <label for="oracle_port_port" class="form-label position-sticky end-100">Port</label>
                  <div class="input-group">
                    <input type="number" class="form-control" id="oracle_port" placeholder="Port"
                      aria-label="Recipient's username">
                  </div>
                </div>
                <div class="col">
                  <label for="oracle_sid_label" class="form-label position-sticky end-100 ">SID</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="oracle_sid" placeholder="SID/Service"
                      aria-label="Recipient's username">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary position-sticky start-100" onclick=parm_instant_client_js()>Salvar</button>
    </div>
  </div>
  <!-- Gutter principal -->



</body>

</html>