<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GS - PyMIG</title>
  <link rel="shortcut icon" href="logo-senior-3.svg" type="image/x-icon">
  <link href="style.css" rel="stylesheet">
  <link href="hover.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script type="text/javascript" src="main.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"  crossorigin="anonymous"></script>
</head>

<body>
  <div class="mb-3">

  </div>
  <div class="navbar nav nav-pills nav-fill border-2 shadow-sm  mb-3 bg-body py-2 container rounded-5 " >
    <!-- Nav Tab -->
    <div class="container-fluid ">
        <li class="hvr-grow-shadow rounded ">
          <a class="nav-link bi link-success bi-info-circle px-5" aria-current="page" href="#"> Sobre</a>
        </li>
        <li class="hvr-grow-shadow rounded">
          <a class="nav-link link-success bi bi-hdd-rack px-5" href="/index.html"> Migração</a>
        </li>
        <li class="hvr-grow-shadow rounded">
          <a class="nav-link link-success bi bi-boxes px-5" id="utility_html" href="/utility.html"> Utilitários</a>
        </li>
        <li class="hvr-grow-shadow rounded">
          <a class="nav-link link-success bi bi-gear px-5" href="/config.html"> Configurações</a>
        </li>
        <div> 
          <div class="form-check form-switch px-5">
            <input class="form-check-input" type="checkbox" id="flexSwitch_conectado_sqlite" disabled>
            <label class="form-check-label" for="flexSwitch_conectado_sqlite" id="sqlite_status">Desconectado</label>
          </div>
        </div>
    </div>
  </div>
  <!-- Nav Tab -->

  <!-- Gutter principal -->
  <div class="container">
    <div class="container text-center col px-5 shadow-lg p-3 mb-5 rounded-5 ">
      <div class="row gx-5">
        <div class="col px-0 ">
          <div class="p-3 border rounded-5 bg-light">
            <div class="row align-items-center ">
              <div class="col p-3 ">
                <!-- Oracle Button trigger modal -->
                <button type="button" class="btn btn-success rounded-5" data-bs-toggle="modal"
                  data-bs-target="#staticoracle">
                  Conectar no GS
                </button>
                <!-- Oracle Button trigger modal -->
              </div>
              <div class="col ">
                <div class="form-check form-switch p-3 position-relative">
                  <input class="form-check-input position-absolute"
                    onclick="ora_con_close_js('ora_conectado','flexSwitch_conectado')" type="checkbox"
                    id="flexSwitch_conectado" disabled>
                  <label class="form-check-label position-relative bi bi-ethernet" style="color:red"
                    onclick="ora_con_close_js('ora_conectado','flexSwitch_conectado')" for="flexSwitch_conectado"
                    id="ora_conectado"></label>
                </div>
              </div>
              <div class="p-3 border rounded-5 bg-light">
                <table class="table" id="table_modulos_gs">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Módulo</th>
                      <th scope="col">Válido?</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    </tr>
                  </tbody>
                </table>
                <button type="button" onclick="ora_mod_select_js()" class="btn btn-success rounded-5">Validar</button>
              </div>
            </div>
  
          </div>
        </div>
        
        <div class="col px-3">
          <div class="col px-0">
            <div class="p-3 border rounded-5 bg-light">
              <div class="row align-items-center ">
                <div class="col p-3 ">
                  <select class="form-select rounded-5 text-center" onchange="sistema_migrado(this)"
                    aria-label="Default select example" id="drop_generate_sistemas">
                    <option>Sistemas Disponíveis</option>
                  </select>
                </div>
                <div class="col">
                  <div class="form-check p-3  form-switch position-relative">
                    <input class="form-check-input position-absolute"
                      onclick="pos_con_close_js('sistema_conectado','flexSwitch_sistema_conectado')" type="checkbox"
                      id="flexSwitch_sistema_conectado" disabled>
                    <label class="form-check-label  bi bi-ethernet" style="color:red"
                      onclick="pos_con_close_js('sistema_conectado','flexSwitch_sistema_conectado')"
                      for="flexSwitch_sistema_conectado" id="sistema_conectado"></label>
                  </div>
                </div>
                <div class="p-3 border rounded-5 bg-light">
                  <table class="table" id="table_modulos_gs">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Módulo</th>
                        <th scope="col">Válido?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" onclick="ora_mod_select_js()" class="btn btn-success rounded-5">Validar</button>
                </div>
              </div>
    
            </div>
          </div>
        </div>
            
        <div class="col px-0">
          <div class="p-3 border rounded-5 bg-light">
            <div class="row p-3 align-items-center">
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gutter principal -->

  <!-- Oracle Modal -->
  <div class="modal fade" id="staticoracle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Configurações de Conexão</h5>
          <button type="button" class="btn-close" onclick="close_modal('ora_conectado_message')" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3"></div>
          <div class="container-sm">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="oracle_user" placeholder="User" aria-label="First name">
              </div>
              <div class="col">
                <input type="password" class="form-control" id="oracle_password" placeholder="Password"
                  aria-label="Last name">
              </div>
            </div>
            <div class="mb-3"></div>
            <div class="mb-3">
              <input type="text" class="form-control" id="oracle_host" placeholder="Host" aria-label="First name">
            </div>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="oracle_port" placeholder="Port" value="1521"
                  aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="oracle_sid" placeholder="SID/Service"
                  aria-label="First name">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-success" id="ora_conectado_message" hidden role="alert">
            Conectado
          </div>
          <input type="button" class="btn btn-success"
            onclick="conn_oracle('ora_conectado','flexSwitch_conectado','ora_conectado_message')" value="Conectar">
          <button type="button" class="btn btn-secondary" onclick="close_modal('ora_conectado_message')"
            data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Oracle Modal -->

  <!-- Postgress Modal -->
  <div class="modal fade" id="staticpostgres" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Configurações de Conexão do Postgres</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3"></div>
          <div class="container-sm">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="postgres_user" placeholder="Login" aria-label="Login">
              </div>
              <div class="col">
                <input type="password" class="form-control" id="postgres_password" placeholder="Password"
                  aria-label="Password">
              </div>
            </div>
            <div class="mb-3"></div>
            <div class="mb-3">
              <input type="text" class="form-control" id="postgres_host" placeholder="Host" aria-label="Host">
            </div>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="postgres_port" placeholder="Port" value="5432"
                  aria-label="Port">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="postgres_database" placeholder="Database"
                  aria-label="Database">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="random_number"></div>
          <input type="button" class="btn btn-success"
            onclick="conn_postgres('sistema_conectado','flexSwitch_sistema_conectado')" value="Conectar">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" id="show_postgres_modal" hidden="true" class="btn btn-success" data-bs-toggle="modal"
  data-bs-target="#staticpostgres">
  Conectar no Postgress
  </button>
  <!-- Postgress Modal -->

  <!-- Firebird Modal -->
  <div class="modal fade" id="staticfirebird" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Configurações de Conexão do Firebird</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3"></div>
          <div class="container-sm">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="firebird_user" placeholder="Login" aria-label="Login">
              </div>
              <div class="col">
                <input type="password" class="form-control" id="firebird_password" placeholder="Password"
                  aria-label="Password">
              </div>
            </div>
            <div class="mb-3"></div>
            <div class="mb-3">
              <input type="text" class="form-control" id="firebird_host" placeholder="Host" aria-label="Host">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="firebird_database" placeholder="Database"
                aria-label="Database">
            </div>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="firebird_port" placeholder="Port" value="3050"
                  aria-label="Port">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="firebird_charset" placeholder="Charset" value="WIN1251"
                aria-label="Charset">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="random_number"></div>
          <input type="button" class="btn btn-success"
            onclick="conn_firebird('sistema_conectado','flexSwitch_sistema_conectado')" value="Conectar">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" id="show_firebird_modal" hidden="true" class="btn btn-success" data-bs-toggle="modal"
  data-bs-target="#staticfirebird">
  Conectar no Firebird
  </button>
  <!-- Firebird Modal -->

  <div class="toast" style="position: absolute; bottom: 10px; right: 10px;" role="alert" aria-live="assertive" aria-atomic="true" id="myToast">
    <div class="toast-body" >
      <a id="myToast_message"></a>
      <div class="mt-2 pt-2 border-top">
        <button type="button" class="btn btn-success btn-sm">Take action</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">Close</button>
      </div>
    </div>
  </div>

</body>

</html>