<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>GS - PyMIG</title>
  <link href="style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- Nav Tab -->
  <ul class="nav nav-pills nav-fill border border-2 rounded-3 shadow-sm p-3 mb-2 bg-body rounded ">
    <li class="nav-item">
      <a class="nav-link bi bi-exclamation-circle" aria-current="page" href="#"> Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Migração</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/utility.html">Utilitários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bi bi-gear" href="/config.html"> Configurações</a>
    </li>
  </ul>
  <!-- Nav Tab -->

  <!-- Gutter principal -->
  <div class="container-fluid">
    <div class="container px-4 text-center shadow-lg p-3 mb-5 bg-body rounded">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3 border rounded-3 bg-light">
            <div class="row align-items-center">
              <div class="col">
                <!-- Oracle Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticoracle">
                  Conectar no GS
                </button>
                <!-- Oracle Button trigger modal -->
              </div>
              <div class="col">
                <label id="ora_conectado">
                  Desconectado
                </label>
                <div class="form-check form-switch position-relative">
                  <input class="form-check-input position-absolute"
                    onclick="ora_con_close_js('ora_conectado','flexSwitch_conectado')" type="checkbox"
                    id="flexSwitch_conectado" disabled>
                  <label class="form-check-label" onclick="ora_con_close_js('ora_conectado','flexSwitch_conectado')"
                    for="flexSwitch_conectado"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="p-3 border rounded-3 bg-light">
            <table class="table" id="table_modulos_gs">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Módulo</th>
                  <th scope="col">Válido?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                </tr>
              </tbody>
            </table>
            <button type="button" onclick="ora_mod_select_js()" class="btn btn-primary">Validar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gutter principal -->

  <!-- Gutter Secundario -->
  <div class="container-fluid">
    <div class="container px-4 text-center shadow-lg p-3 mb-5 bg-body rounded">
      <div class="row gx-5">
        <div class="col">
          <div class="p-3 border rounded-3 bg-light">
            <div class="row align-items-center">
              <select class="col form-select" onchange="sistema_migrado(this)" aria-label="Default select example"
                id="drop_generate_sistemas">
                <option>Sistemas Disponíveis</option>
              </select>
              <div class="col">
                <label id="sistema_conectado">
                  Desconectado
                </label>
                <div class="form-check form-switch position-relative">
                  <input class="form-check-input position-absolute"
                    onclick="pos_con_close_js('sistema_conectado','flexSwitch_sistema_conectado')" type="checkbox"
                    id="flexSwitch_sistema_conectado" disabled>
                  <label class="form-check-label"
                    onclick="pos_con_close_js('sistema_conectado','flexSwitch_sistema_conectado')"
                    for="flexSwitch_sistema_conectado"></label>
                </div>
              </div>
            </div>
            <button type="button" id="show_logtec_modal" hidden="true" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#staticlogtec">
              Conectar no Postgress
            </button>
          </div>
        </div>
        <div class="col">
          <div class="p-3 border rounded-3 bg-light">

            <input type="button" class="btn btn-primary" onclick="" value="Migrar tabelas">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Gutter Secundario -->

  


  <!-- Oracle Modal -->
  <div class="modal fade" id="staticoracle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Configurações de Conexão</h5>
          <button type="button" class="btn-close" onclick="close_modal('ora_conectado_message')" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3"></div>
          <div class="container-sm">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="oracle_user" placeholder="User" aria-label="First name">
              </div>
              <div class="col">
                <input type="password" class="form-control" id="oracle_password" placeholder="Password"
                  aria-label="Last name">
              </div>
            </div>
            <div class="mb-3"></div>
            <div class="mb-3">
              <input type="text" class="form-control" id="oracle_host" placeholder="Host" aria-label="First name">
            </div>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="oracle_port" placeholder="Port" value="1521"
                  aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="oracle_sid" placeholder="SID/Service"
                  aria-label="First name">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="alert alert-success" id="ora_conectado_message" hidden role="alert">
            Conectado
          </div>
          <input type="button" class="btn btn-primary"
            onclick="conn_oracle('ora_conectado','flexSwitch_conectado','ora_conectado_message')" value="Conectar">
          <button type="button" class="btn btn-secondary" onclick="close_modal('ora_conectado_message')"
            data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Oracle Modal -->

  <!-- Postgress Modal -->
  <div class="modal fade" id="staticlogtec" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Configurações de Conexão</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3"></div>
          <div class="container-sm">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="postgres_user" placeholder="Login" aria-label="First name">
              </div>
              <div class="col">
                <input type="password" class="form-control" id="postgres_password" placeholder="Password"
                  aria-label="Last name">
              </div>
            </div>
            <div class="mb-3"></div>
            <div class="mb-3">
              <input type="text" class="form-control" id="postgres_host" placeholder="Host" aria-label="First name">
            </div>
            <div class="row">
              <div class="col">
                <input type="number" class="form-control" id="postgres_port" placeholder="Port" value="5432"
                  aria-label="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" id="postgres_database" placeholder="Database"
                  aria-label="First name">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="random_number"></div>
          <input type="button" class="btn btn-primary"
            onclick="conn_postgres('sistema_conectado','flexSwitch_sistema_conectado')" value="Conectar">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Postgress Modal -->




  <ul class="nav nav-pills nav-fill border border-2 rounded-3 shadow-sm p-3 mb-2 bg-body rounded position-absolute bottom-0 start-50 translate-middle-x">
    <!--checkbox switch to check sqlite connection-->
    <li class="nav-item">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitch_conectado_sqlite" disabled>
        <label class="form-check-label" for="flexSwitch_conectado_sqlite">Sqlite</label>
      </div>
  </ul>






</body>

</html>